.cartItems {
    background-color: rgb(236, 215, 219);
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(71, 44, 33);
    margin-top: 50px;
}

.NoItem{
    margin-top: 50px;
    text-align: center;
}


