.CardItem {
    margin: 5%;
    color: rgb(71, 44, 33);
    border-radius: 15px;
    max-width: 550px;
}

.Info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin: 10px;
}

.Option{
    color: rgb(71, 44, 33);
    padding: 5px;
    background-color:  rgb(236, 215, 219);
}

.ItemImg{
    align-self: auto;
}