.CardItem {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(170, 128, 115, 0.514);
    min-height: 800px;
    min-width: 550px;
    margin: 5px;
}

.Info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin: 10px;
}

.Option{
    color: rgb(71, 44, 33);
    padding: 5px;
    background-color:  rgb(236, 215, 219);
}

.ItemImg{
    align-self: auto;
    border-radius: 15px;
}