.Titulo{
    color: rgb(121, 118, 120);
}

.NavBar {
    display: flex;
    justify-content: space-between;
    background-color: pink;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
    min-height: 30px;
}




