* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/fondo2.avif");
  background-attachment:fixed;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}